<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ShareWithBlogo</string>
	<key>Type</key>
	<string>BlogEditor</string>
	<key>BundleIdentifier</key>
	<string>com.drinkbrainjuice.Blogo</string>
	<key>Default</key>
	<true/>
	<key>FriendlyName</key>
	<string>Blogo</string>
	<key>Tooltip</key>
	<string>Share the current article or website via Blogo</string>
	<key>ButtonImage</key>
	<string>blogoButton</string>
	<key>MenuPath</key>
	<string>Share via Blogo</string>
</dict>
</plist>
