<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blogspot</key>
	<dict>
		<key>LinkName</key>
		<string>Sartu Blogspot -en erabiltzaile izena</string>
		<key>LinkTemplate</key>
		<string>http://%@.blogspot.com/atom.xml</string>
		<key>SiteHomePage</key>
		<string>http://www.blogspot.com</string>
	</dict>
	<key>Fitxategi lokala</key>
	<dict>
		<key>LinkName</key>
		<string>Sartu zure &quot;home&quot; direktorioa kokatzen den helbidea</string>
		<key>LinkTemplate</key>
		<string>file://~/%@</string>
	</dict>
	<key>LiveJournal</key>
	<dict>
		<key>LinkName</key>
		<string>Sartu LiveJournal -en erabiltzaile izena</string>
		<key>LinkTemplate</key>
		<string>http://www.livejournal.com/users/%@/data/rss</string>
		<key>SiteHomePage</key>
		<string>http://www.livejournal.com</string>
	</dict>
	<key>URL</key>
	<dict>
		<key>LinkName</key>
		<string>Sartu RSS jarioaren URL-a</string>
		<key>LinkTemplate</key>
		<string>%@</string>
	</dict>
</dict>
</plist>
