.DS_Store
.idea
build/*
configs/CS-ID.xcconfig
src/autorevision.h
Vienna.xcodeproj/project.xcworkspace/xcuserdata/*
Vienna.xcodeproj/xcuserdata/*
Vienna.xcodeproj/.LSOverride
Vienna.xcodeproj/barijaon.mode1v3
Vienna.xcodeproj/barijaon.pbxuser
