# Based upon https://github.com/github/gitignore

# macOS
.DS_Store
.Trashes

# Xcode
build/
Build/
DerivedData/
xcuserdata/
*~.nib

# SwiftPM
.build/
Package.resolved

# Vienna
Vienna/Localizations/
Scripts/Resources/CS-ID.xcconfig
Vienna/Sources/autorevision.h

# Jetbrains
.idea
