<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBC World News</key>
	<dict>
		<key>URL</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/front_page/rss.xml</string>
	</dict>
	<key>Apple Hot News</key>
	<dict>
		<key>URL</key>
		<string>http://images.apple.com/main/rss/hotnews/hotnews.rss</string>
	</dict>
	<key>Slashdot</key>
	<dict>
		<key>URL</key>
		<string>http://rss.slashdot.org/Slashdot/slashdot</string>
	</dict>
	<key>The Unofficial Apple Weblog (TUAW)</key>
	<dict>
		<key>URL></key>
		<string>http://www.tuaw.com/rss.xml</string>
	</dict>
</dict>
</plist>
