<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>viennastyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vienna2style.icns</string>
			<key>CFBundleTypeName</key>
			<string>Vienna Style Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>viennaplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vienna2plugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>Vienna Plugin Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtension</key>
			<array>
				<string>scpt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Script File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Vienna</string>
	<key>CFBundleGetInfoString</key>
	<string>Vienna version $(VIENNA_VERSION_NUMBER).${BUILD_NUMBER}, Copyright 2004-2008 Contributors. See Help/Acknowledgements for list of contributors.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Vienna Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Vienna Help</string>
	<key>CFBundleIconFile</key>
	<string>vienna2.icns</string>
	<key>CFBundleIdentifier</key>
	<string>uk.co.opencommunity.vienna2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vienna</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VIENNA_VERSION_NUMBER).${BUILD_NUMBER}</string>
	<key>CFBundleSignature</key>
	<string>Vnna</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>RSS Feed URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feed</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${BUILD_NUMBER}</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>ViennaApp</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>OpenCommunity</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-15C768BF24</string>
	<key>SUFeedURL</key>
	<string>http://vienna-rss.sourceforge.net/changelog$(VIENNA_CHANGELOG_SUFFIX).xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>vienna_public_key.pem</string>
</dict>
</plist>
