<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>SearchWithWikipedia</string>
	<key>Type</key>
	<string>SearchEngine</string>
	<key>SearchQueryString</key>
	<string>http://en.wikipedia.org/w/index.php?title=Special:Search&amp;search=$SearchTerm$&amp;go=Go</string>
	<key>FriendlyName</key>
	<string>Wikipedia</string>
	<key>Tooltip</key>
	<string>Search with Wikipedia</string>
</dict>
</plist>
