a {
	color: #3366CC;
	text-decoration: none;
}
.title {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18pt;
	color: #000000;
}
.header {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12pt;
	color: #000000;
}
li {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 9pt;
	color: #000000;
}
h2 {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 10pt;
	color: #000000;
}
p {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 9pt;
	color: #000000;
}
tr {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
}
