<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FriendlyName</key>
	<string>Wordpress.com</string>
	<key>LinkName</key>
	<string>Enter Wordpress.com user name</string>
	<key>LinkTemplate</key>
	<string>https://%@.wordpress.com/feed/</string>
	<key>Name</key>
	<string>WordpressFeedSource</string>
	<key>SiteHomePage</key>
	<string>https://wordpress.com</string>
	<key>Type</key>
	<string>FeedSource</string>
</dict>
</plist>
