<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>SearchWithGoogle</string>
	<key>Type</key>
	<string>SearchEngine</string>
	<key>SearchQueryString</key>
	<string>http://www.google.com/search?q=$SearchTerm$</string>
	<key>FriendlyName</key>
	<string>Google</string>
	<key>Tooltip</key>
	<string>Search with Google</string>
</dict>
</plist>
