<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViennaHomePage</key>
	<string>http://www.vienna-rss.org/</string>
	<key>ViennaMoreStylesPage</key>
	<string>http://www.vienna-rss.org/?page_id=76</string>
	<key>ViennaMoreScriptsPage</key>
	<string>http://www.vienna-rss.org/?page_id=76</string>
	<key>FeedValidatorTemplate</key>
	<string>http://feedvalidator.org/check?url=%@</string>
</dict>
</plist>
