<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>General</string>
		<key>ClassName</key>
		<string>GeneralPreferences</string>
		<key>Image</key>
		<string>generalPrefImage.tiff</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>Appearance</string>
		<key>ClassName</key>
		<string>AppearancesPreferences</string>
		<key>Image</key>
		<string>appearancePrefImage.tiff</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>Advanced</string>
		<key>ClassName</key>
		<string>AdvancedPreferences</string>
		<key>Image</key>
		<string>advancedPrefImage.tiff</string>
	</dict>
</dict>
</plist>
