<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BazQux</key>
	<dict>
		<key>Address</key>
		<string>www.bazqux.com</string>
		<key>Hint</key>
		<string>Введите информацию из настроек BazQux&apos;s &apos;Mobile login&apos;</string>
	</dict>
	<key>FeedHQ</key>
	<dict>
		<key>Address</key>
		<string>feedhq.org</string>
		<key>Hint</key>
		<string>Введите email и пароль от вашего аккаунта FeedHQ</string>
	</dict>
	<key>InoReader</key>
	<dict>
		<key>Address</key>
		<string>www.inoreader.com</string>
		<key>Hint</key>
		<string>Введите имя пользователя и пароль от вашего аккаунта InoReader</string>
	</dict>
	<key>TheOldReader</key>
	<dict>
		<key>Address</key>
		<string>theoldreader.com</string>
		<key>Hint</key>
		<string>Введите имя пользователя и пароль, указанные в разделе Settings/General ресурса theoldreader.com</string>
	</dict>
	<key>Иное</key>
	<dict>
		<key>Address</key>
		<string></string>
		<key>Hint</key>
		<string>Введите адрес сервера и ваши учетные данные для этого сервера</string>
	</dict>
</dict>
</plist>
