<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple Hot News</key>
	<dict>
		<key>URL</key>
		<string>http://images.apple.com/main/rss/hotnews/hotnews.rss</string>
	</dict>
	<key>BBC World News</key>
	<dict>
		<key>URL</key>
		<string>http://feeds.bbci.co.uk/news/world/rss.xml</string>
	</dict>
	<key>The Unofficial Apple Weblog (TUAW)</key>
	<dict>
		<key>URL</key>
		<string>http://www.tuaw.com/rss.xml</string>
	</dict>
	<key>World of Apple</key>
	<dict>
		<key>URL</key>
		<string>http://loop.worldofapple.com/feed/atom/</string>
	</dict>
	<key>Mac OSX Hints</key>
	<dict>
		<key>URL</key>
		<string>http://feeds.macosxhints.com/macosxhints/recent</string>
	</dict>
	<key>Vienna Developer Blog</key>
	<dict>
		<key>URL</key>
		<string>http://www.vienna-rss.org/?feed=rss2</string>
	</dict>
	<key>Vienna Support</key>
	<dict>
		<key>URL</key>
		<string>http://forums.cocoaforge.com/rss.php?atom&amp;f=18</string>
	</dict>
</dict>
</plist>
