<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ShareWithEvernote</string>
	<key>Type</key>
	<string>Link</string>
	<key>URL</key>
	<string>http://www.evernote.com/clip.action?url=$ArticleLink$&amp;title=$ArticleTitle$</string>
	<key>Default</key>
	<true/>
	<key>FriendlyName</key>
	<string>Share With Evernote</string>
	<key>Tooltip</key>
	<string>Share the current article on Evernote</string>
	<key>ButtonImage</key>
	<string>evernoteButton</string>
	<key>ShortenURLs</key>
	<false/>
</dict>
</plist>
