<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>SearchWithTwitter</string>
	<key>Type</key>
	<string>SearchEngine</string>
	<key>SearchQueryString</key>
	<string>http://search.twitter.com/search?q=$SearchTerm$</string>
	<key>FriendlyName</key>
	<string>Twitter</string>
	<key>Tooltip</key>
	<string>Search with Twitter</string>
</dict>
</plist>
