<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ShareWithDelicious</string>
	<key>Type</key>
	<string>Link</string>
	<key>URL</key>
	<string>http://delicious.com/save?jump=close&amp;url=$ArticleLink$&amp;title=$ArticleTitle$&amp;v=5&amp;noui&amp;jump=close&amp;src=vienna</string>
	<key>Default</key>
	<false/>
	<key>FriendlyName</key>
	<string>Delicious</string>
	<key>Tooltip</key>
	<string>Share the current article on Delicious</string>
	<key>ButtonImage</key>
	<string>deliciousButton</string>
	<key>MenuPath</key>
	<string>Share With Delicious</string>
</dict>
</plist>
