@charset "UTF-8";
body {
 position: relative;
 font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
 margin: 0;
 padding: 0;
}
	ul#viennadetails {
	 position: fixed;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 list-style-type:none;
	 padding: 3px 50px 2px 35px;
	 margin: 0;
	 border-bottom: 1px solid #999;
	 background: transparent url(pellucid.png);
	 background-repeat: repeat;
	} 
		ul#viennadetails li {
		 display: inline;
		 /*color: #b24700;*/
	     color: #ff0059; 
	     font-size: 16px;
		 font-weight: normal;
		 font-family: Optima, Georgia, Times, serif;
		} 
		ul#viennadetails li.viennaauthor:before {
		 content: "~ ";
		}
		ul#viennadetails li.viennaenclosure:before {
		 content: "~ ";
		}
	h1#viennatitle {
	 font-size: 24px;
	 margin: 60px 35px 10px 35px;
	 padding: 0;
	 }
		 h1#viennatitle a {
	      color: #09f;
		  text-decoration: none;
		  padding: 0;
		 }
		 h1#viennatitle a:hover {
	      color: #09f;
		 }
	div#viennabody {
	 font-family: Optima, Georgia, Times, serif;
	 font-size: 16px;
	 font-weight: 500;
	 line-height: 22px;
	 letter-spacing: 0.05em;
	 width: 34em;
	 padding: 0;
	 margin: 0 17px 35px 35px;
	 overflow:auto;
	}
		div#viennabody a {
		 color: #0019ff;
		 text-decoration: none;
		}
		div#viennabody a:hover {
		 border-bottom: 1px dotted;
		}
	div#viennafeedlink {
	 position: fixed;
	 bottom: 0px;
	 left: 0px;
	 padding: 3px 0 0 35px;
	 margin: 0;
	 height: 20px;
	 width: 100%;
	 font-size: 14px;
	 border-top: 1px solid #999;
	 background: transparent url(pellucid.png);
	 background-repeat: repeat;
	}
		div#viennafeedlink a {
		 text-decoration: none;
		 color: #f60;
		 font-weight: normal;
		 padding: 0 0 0 19px;
		 background: url(feed-icon-16x16.png);
		 background-position: left;
		 background-repeat: no-repeat;
		}
	pre {
	 font-family: ProFont, monospace;
	 font-size: 12px;
	 font-weight: normal;
	}