<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyAddress</key>
	<string></string>
	<key>companyCountry</key>
	<string></string>
	<key>companyEmail</key>
	<string>stevewpalmer@mac.com</string>
	<key>companyFax</key>
	<string></string>
	<key>companyName</key>
	<string>Steve Palmer</string>
	<key>companyPhone</key>
	<string></string>
	<key>companyWebSite</key>
	<string>http://homepage.mac.com/stevewpalmer</string>
	<key>fileBundleID</key>
	<string></string>
	<key>fileCreator</key>
	<string></string>
	<key>fileReleaseDateD</key>
	<string>08</string>
	<key>fileReleaseDateM</key>
	<string>04</string>
	<key>fileReleaseDateY</key>
	<string>2004</string>
	<key>fileType</key>
	<string>APPL</string>
	<key>padVersion</key>
	<string>1</string>
	<key>productDescLong</key>
	<string></string>
	<key>productDescShort</key>
	<string></string>
	<key>productDownloadURL</key>
	<array/>
	<key>productFileSize</key>
	<string></string>
	<key>productKeywords</key>
	<array>
		<string></string>
	</array>
	<key>productLanguages</key>
	<array>
		<string>English</string>
	</array>
	<key>productLicense</key>
	<string>Freeware</string>
	<key>productName</key>
	<string>Vienna</string>
	<key>productOS</key>
	<array>
		<string>10.3</string>
	</array>
	<key>productPageURL</key>
	<string>http://homepage.mac.com/stevewpalmer</string>
	<key>productPrice</key>
	<string></string>
	<key>productReleaseNotes</key>
	<string></string>
	<key>productRequirements</key>
	<string>Mac OSX 10.3 or later</string>
	<key>productVersion</key>
	<string>0.5</string>
</dict>
</plist>
