<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Address</key>
	<string>www.bazqux.com</string>
	<key>FriendlyName</key>
	<string>BazQux</string>
	<key>Hint</key>
	<string>Enter the info you set in BazQux&apos;s &apos;Mobile login&apos; settings</string>
	<key>Name</key>
	<string>BazQuxSyncServer</string>
	<key>Type</key>
	<string>SyncServer</string>
</dict>
</plist>
