<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ShareWithX</string>
	<key>Type</key>
	<string>Link</string>
	<key>URL</key>
	<string>https://x.com/intent/post?url=$ArticleLink$</string>
	<key>Default</key>
	<false/>
	<key>FriendlyName</key>
	<string>X</string>
	<key>Tooltip</key>
	<string>Share the current article on X</string>
	<key>ButtonImage</key>
	<string>xTemplate</string>
	<key>MenuPath</key>
	<string>Share With X</string>
</dict>
</plist>
