<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BazQux</key>
	<dict>
		<key>Address</key>
		<string>www.bazqux.com</string>
		<key>Hint</key>
		<string>Introduzca la información establecida en la configuración &apos;Mobile login&apos; de BazQux</string>
	</dict>
	<key>FeedHQ</key>
	<dict>
		<key>Address</key>
		<string>feedhq.org</string>
		<key>Hint</key>
		<string>Introduzca el correo electrónico y la contraseña asociada a su cuenta de FeedHQ</string>
	</dict>
	<key>InoReader</key>
	<dict>
		<key>Address</key>
		<string>www.inoreader.com</string>
		<key>Hint</key>
		<string>Introduzca el nombre de usuario y la contraseña asociada a su cuenta de InoReader</string>
	</dict>
	<key>TheOldReader</key>
	<dict>
		<key>Address</key>
		<string>theoldreader.com</string>
		<key>Hint</key>
		<string>Introduzca el nombre de usuario y la contraseña definida en la sección Settings/General de theoldreader.com</string>
	</dict>
	<key>Otro</key>
	<dict>
		<key>Address</key>
		<string></string>
		<key>Hint</key>
		<string>Introduzca la dirección del servidor y sus credenciales para este servidor</string>
	</dict>
</dict>
</plist>
