/*  Style: Broadsheet Clipping
	Author: Arthur Veugelers
	Date: november 2005
	Remark: Especially useful on wide displays...
*/

body			{
				font: 14px/18px Georgia,Times,serif;
				padding: 10px 10% 10px 10%;
				}
				
img				{
				float:left;
				margin: 10px;
				}				/* text flows around images when possible */

a				{
				color:black;
				text-decoration:none;
				border-bottom:1px dashed #666666;
				}
				
.pageHeader		{
				}				/* this space intentionally left blank */

.origSite		{

				font: bold 12px Verdana,Arial,sans-serif;
				text-decoration:none;
				text-align:left;
				width:45%;
				float:left;
				}
										
.origSite a		{
				border:none;
				}

.dateTime		{
				font: bold 12px Verdana,Arial,sans-serif;
				text-align:right	;
				width:45%;
				float:right;
				}
				
.articleContainer		{
				}				/* this space intentionally left blank */

.articleHeadAndAuthor	{
				width:40%;
				float:left;
				}
				
.articleHeader	{
				font-size: 24px;
				line-height:28px;
				font-weight:bold;
				text-decoration:none;
				}
				
.articleHeader a	{
				border:none;
				}

				
.articleAuthor	{
				background-color:black;
				color:white;
				font: bold 12px Verdana,Arial,sans-serif;
				padding: 3px;
				margin-top:6px;
				}

.articleBody	{
				width:55%;
				text-align:justify;
				float:right;
				}
				
.doubleLiner	{
				clear:both;
				border-top:1px solid black;
				border-bottom:2px solid black;
				padding:1px;
				margin:6px 0px 6px 0px;
				}
				
.clearBoth		{
				clear:both;
				}

.artHeadRepeat	{
				font-size: 12px;
				font-style:italic;
				text-align:right;
				}