<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ShareWithInstapaper</string>
	<key>Default</key>
	<false/>
	<key>Type</key>
	<string>Link</string>
	<key>FriendlyName</key>
	<string>Instapaper</string>
	<key>Tooltip</key>
	<string>Add the current article to Instapaper</string>
	<key>ButtonImage</key>
	<string>InstapaperButton</string>
	<key>MenuPath</key>
	<string>Share With Instapaper</string>
	<key>URL</key>
	<string>https://www.instapaper.com/hello2?url=$ArticleLink$&amp;title=$ArticleTitle$</string>
</dict>
</plist>
