body {
  margin: 0;
  padding: 0 0 10px;
  background: #fff;
  color: #333;
  font: medium/150% "Lucida Grande", sans-serif;
}

a:link {
  color: #009;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #66F;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #F30;
  text-decoration: underline;
}

.articleTitleStyle {
  background: #828282;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(100%,#5f5f5f));
  background: -webkit-linear-gradient(top,  #828282 0%,#5f5f5f 100%);
  background: linear-gradient(to bottom,  #828282 0%,#5f5f5f 100%);
  border-bottom: 1px solid #1C477F;
  font-size: large;
  padding: 7px 0 7px 15px;
  text-shadow: 0 1px 2px #000;
}

.articleTitleStyle a:link {
  color: #fff;
  text-decoration: none;
}

.info {
  margin: 0 15px 5px;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.info span {
  display: block;
  margin-bottom: 2px;
}

.info span:before {
  color: #777;
  font-weight: bold;
}

.feedLinkStyle:before { content: "From: " }
.articleDateStyle:before { content: "Date: " }
.articleEnclosureStyle:before { content: "Enclosure: " }

.articleBodyStyle {
  padding: 0 15px;
  font: medium/150% "Lucida Grande", sans-serif;
  color: #333;
  overflow:auto;
}

.articleDetails {
  padding: 6px 15px 6px 15px;
}

.articleDetails a {
  color: #000;
}

.articleAuthorStyle {
  color: #600;
}

/* fix a 100% max size to potentially problematic elements */
img, table,
td, blockquote,
code, pre,
textarea, input,
iframe, object,
embed, video {
  max-width: 100%;
}

/* keep images ratio and avoid box overflow due to border or padding */
img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto !important;
}