// General settings for Deployment configuration


STRIP_INSTALLED_PRODUCT = YES
BUILD_VARIANTS = normal
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
DEPLOYMENT_POSTPROCESSING = YES
SEPARATE_STRIP = YES


// Warnings
//:configuration = Deployment
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
