// Global settings for all configurations


ARCHS = x86_64 i386 ppc
SDKROOT = macosx
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.5
COPY_PHASE_STRIP = NO
ALWAYS_SEARCH_USER_PATHS = NO
GCC_ENABLE_OBJC_GC = unsupported
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
WARNING_CFLAGS = -Wall
GCC_TREAT_WARNINGS_AS_ERRORS = NO
