// Global settings for all configurations


ARCHS = x86_64
SDKROOT = macosx
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.8
COPY_PHASE_STRIP = NO
ALWAYS_SEARCH_USER_PATHS = NO
GCC_ENABLE_OBJC_GC = unsupported
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_NO_COMMON_BLOCKS = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = src/Vienna_Prefix.pch
CLANG_ENABLE_MODULES = YES

BASE_URL_TYP = https
BASE_URL_LOC = dl.bintray.com/viennarss/vienna-rss
