// Global settings for all configurations


ARCHS = x86_64
SDKROOT = macosx
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.8
SYMROOT = $(SRCROOT)/build
COPY_PHASE_STRIP = NO
ALWAYS_SEARCH_USER_PATHS = NO
GCC_ENABLE_OBJC_GC = unsupported
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_NO_COMMON_BLOCKS = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = src/Vienna_Prefix.pch
CLANG_ENABLE_MODULES = YES


// Global Warnings
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES


BASE_URL_TYP = https
BASE_URL_LOC = dl.bintray.com/viennarss/vienna-rss
