// Vienna settings for all configurations


INSTALL_PATH = $(HOME)/Applications
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
APPLY_RULES_IN_COPY_FILES = YES
INFOPLIST_FILE = Resources/Vienna-Info.plist
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -traditional
INFOPLIST_PREFIX_HEADER = $(OBJROOT)/autorevision.h
INFOPLIST_PREPROCESS = YES
PRODUCT_NAME = Vienna
WRAPPER_EXTENSION = app

FRAMEWORK_SEARCH_PATHS = "$(BUILT_PRODUCTS_DIR)" "$(SRCROOT)/3rdparty" "$(SRCROOT)/3rdparty/Growl" "$(SRCROOT)/3rdparty/Growl/Legacy"

LIBRARY_SEARCH_PATHS = "$(SRCROOT)/3rdparty"

USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/3rdparty" "$(SRCROOT)/src"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(BUILD_PREPROCESSOR_DEFINITIONS) HAVE_USLEEP=1 SQLITE_THREADSAFE=0
WARNING_CFLAGS = -Wall
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO
COMBINE_HIDPI_IMAGES = YES
