// Warzone settings for all configurations


INSTALL_PATH = $(HOME)/Applications
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = Vienna
WRAPPER_EXTENSION = app
FRAMEWORK_SEARCH_PATHS = $(SRCROOT) $(BUILT_PRODUCTS_DIR) "$(SRCROOT)/Growl" "$(SRCROOT)/Growl/Legacy"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(BUILD_PREPROCESSOR_DEFINITIONS) HAVE_USLEEP=1 SQLITE_THREADSAFE=0
LIBRARY_SEARCH_PATHS = $(SRCROOT)
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Vienna_Prefix.pch
COMBINE_HIDPI_IMAGES = YES
