<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Local File</key>
	<dict>
		<key>LinkName</key>
		<string>Enter the path under your home folder</string>
		<key>LinkTemplate</key>
		<string>file://~/%@</string>
	</dict>
	<key>Blogspot</key>
	<dict>
		<key>LinkName</key>
		<string>Geef uw Blogspot-gebruikersnaam</string>
		<key>LinkTemplate</key>
		<string>http://%@.blogspot.com/atom.xml</string>
		<key>SiteHomePage</key>
		<string>http://www.blogspot.com</string>
	</dict>
	<key>LiveJournal</key>
	<dict>
		<key>LinkName</key>
		<string>Geef uw LiveJournal-gebruikersnaam</string>
		<key>LinkTemplate</key>
		<string>http://www.livejournal.com/users/%@/data/rss</string>
		<key>SiteHomePage</key>
		<string>http://www.livejournal.com</string>
	</dict>
	<key>MSN Spaces</key>
	<dict>
		<key>LinkName</key>
		<string>Geef uw gebruikersnaam voor MSN Spaces</string>
		<key>LinkTemplate</key>
		<string>http://spaces.msn.com/members/%@/feed.rss</string>
		<key>SiteHomePage</key>
		<string>http://spaces.msn.com</string>
	</dict>
	<key>URL</key>
	<dict>
		<key>LinkName</key>
		<string>Geef de URL voor de RSS-feed</string>
		<key>LinkTemplate</key>
		<string>%@</string>
	</dict>
	<key>Xanga</key>
	<dict>
		<key>LinkName</key>
		<string>Geef uw Xanga-gebruikersnaam</string>
		<key>LinkTemplate</key>
		<string>http://www.xanga.com/rss.aspx?user=%@</string>
		<key>SiteHomePage</key>
		<string>http://www.xanga.com</string>
	</dict>
</dict>
</plist>
