<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FriendlyName</key>
	<string>Blogspot</string>
	<key>LinkName</key>
	<string>Enter Blogspot user name</string>
	<key>LinkTemplate</key>
	<string>https://%@.blogspot.com/atom.xml</string>
	<key>Name</key>
	<string>BloggerFeedSource</string>
	<key>SiteHomePage</key>
	<string>https://www.blogger.com</string>
	<key>Type</key>
	<string>FeedSource</string>
</dict>
</plist>
