a:link
{
	color: #009;
	text-decoration: none;
	font-weight: bold;
}
a:visited
{
	color: #66F;
	text-decoration: none;
	font-weight: bold;
}
a:hover
{
	color: #F30;
	text-decoration: underline;
}
body
{
	padding: 0px;
	margin: 0px;
	background-color: #FFDD75;
}
.articleTitleStyle
{
	font-family: Times;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	background-color: #CC9900;
	padding: 12px 10px;
}
.articleTitleStyle a
{
	color: #FFFFFF;
}
.articleBodyStyle
{
	font-family: Times;
	font-size: 12px;
	margin: 12px 10px 3px 10px;
	padding: 0;
	line-height: 150%;
}
.articleDetails
{
	font-size: 10px;
	padding: 6px 10px 6px 10px;
}
.articleDetails a
{
	color: #000;
}
span.articleAuthorStyle
{
	color: #600;
}
span.feedLinkStyle:after
{
	content: "-";
}
span.articleDateStyle:after
{
	content: "-";
}