<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>viennaplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PluginIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Vienna plug-in</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.vienna-rss.plugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>viennastyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>StyleIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Vienna style</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.vienna-rss.style</string>
			</array>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtension</key>
			<array>
				<string>scpt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Script File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Vienna</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Vienna.help</string>
	<key>CFBundleHelpBookName</key>
	<string>Vienna Help</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vienna</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>VCS_TAG :VCS_SHORT_HASH:</string>
	<key>CFBundleSignature</key>
	<string>Vnna</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Feed URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feed</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Website URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>VCS_NUM</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET).0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string></string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2004–2021 The Vienna RSS Project</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>ViennaApp</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<string>YES</string>
	<key>SUPublicDSAKeyFile</key>
	<string>SparklePublicKey.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vienna plug-in</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>Plug-in</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.vienna-rss.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>viennaplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vienna style</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>Style</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.vienna-rss.style</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>viennastyle</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>VCSLongHash</key>
	<string>VCS_FULL_HASH</string>
	<key>VCSShortHash</key>
	<string>VCS_SHORT_HASH</string>
	<key>VNAHomePage</key>
	<string>https://www.vienna-rss.com/</string>
	<key>VNAScriptsPage</key>
	<string>https://www.vienna-rss.com/faq#How_do_I_create_my_own_scripts</string>
	<key>VNAStylesPage</key>
	<string>https://www.vienna-rss.com/extras/</string>
</dict>
</plist>
