a {
	color: #3366CC;
	text-decoration: none;
}
.title {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 18pt;
	color: #000000;
}
h1 {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	color: #000000;
}
p {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 9pt;
	color: #000000;
}

