<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ShareWithGoogle+</string>
	<key>Default</key>
	<true/>
	<key>Type</key>
	<string>Link</string>
	<key>URL</key>
	<string>https://plus.google.com/share?url=$ArticleLink$</string>
	<key>FriendlyName</key>
	<string>Google+</string>
	<key>Tooltip</key>
	<string>Share the current article on Google+</string>
	<key>ButtonImage</key>
	<string>google+Button</string>
	<key>ButtonImage@2x</key>
	<string>google+Button@2x</string>
	<key>MenuPath</key>
	<string>Share With Google+</string>
</dict>
</plist>
