<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>HPDBookAccessPath</key>
	<string>Vienna.html</string>
	<key>HPDBookIconPath</key>
	<string>shared/images/Vienna-Logo.jpg</string>
	<key>HPDBookIndexPath</key>
	<string>Vienna.helpindex</string>
	<key>HPDBookTitle</key>
	<string>Vienna Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
